[Desktop Entry]
Type=Application
Name=Mindarchy
Comment=Create and explore mind maps
Exec=mindarchy %f
Icon=blue.mindmap.lab
Terminal=false
Categories=Office;
StartupWMClass=blue.mindmap.lab
MimeType=application/x-omm+json;
