[Desktop Entry]
Type=Application
Name=Mindarchy
Comment=Create and explore mind maps
Exec=mindarchy %f
Icon=org.mindarchy.app
Terminal=false
Categories=Office;
StartupWMClass=org.mindarchy.app
MimeType=application/x-omm+json;
